.button.disabled, .button[disabled] {
  border-color: $color-grey !important;
  background-color: $color-white !important;
  color: #999999 !important;
  opacity: 1 !important;
  span {
    color: #999999 !important;
  }
  &::after {
    background: #D9D9D9 !important;
  }
}
