// Typography

@mixin dot-text() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-format($weight, $size) {
  @if $weight==regular {
    font-family: "OpenSans-Regular";
  }
  @else if $weight==semibold {
    font-family: "OpenSans-SemiBold";
  }
  @else if $weight==bold {
    font-family: "OpenSans-Bold";
  }
  font-size: $size;
}

// @mixin text-format($weight, $size) {
//   @if $weight==regular {
//     font-weight: $font-weight-regular;
//   }
//   @else if $weight==semibold {
//     font-weight: $font-weight-semibold;
//   }
//   @else if $weight==bold {
//     font-weight: $font-weight-bold;
//   }

//   font-size: $size;
// }


@mixin default-label-large-screen {
    background-color: $color-grey-4;
    border: none;
    color: $color-text;
    padding: 7px 0 7px 15px;
    line-height: 20px;
}

@mixin default-label-medium-small-screen {
    background-color: #F0F0F0;
    border: none;   
    padding: 13px 0 13px 20px;
}
@mixin default-content-medium-small-screen {
    border: none;
    padding-top: 23px;
    padding-bottom: 18px;
    padding-left: 25px;
}
