.img-container{
  background-image: url(https://static.chotot.com.vn/storage/C2C_CDN_PRODUCTION/97a2285….svg);
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
  position: relative;
  overflow: hidden;
  .img-simple {
    cursor: zoom-in;
    display: inline-block;
    vertical-align: middle;
    max-height: 350px;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
  }
}
