<app-header></app-header>
<div class="container">
  <div class="white-box row">
    <div class="col-md-12">
      <div class="row">
        <h1 class="page-title">Manage postings</h1>
      </div>

      <div class="infoUser hidden-xs">
        <div class="avatarProfile pull-left">
          <a href="">
            <img src="https://static.chotot.com.vn/storage/PRIVATE_DASHBOARD_CDN/32ea486819346b666d9e012fea3f5be0.png">
          </a>
        </div>
        <div class="infoProfile pull-left">
          <div class="nameProfile">
            <a href=""><span>Hà Đức Huy</span></a>
          </div>
          <span><a href="" class="linkProfile">View your profile</a></span>
        </div>
      </div>



    </div>
  </div>
</div>

